body {
	
	font-family:"Open Sans";
}

#un {
	padding-bottom: 12px;
}

#deux {
	padding-top: 18px;
}

#trois {
	padding-top: 200px;
}



.thumbnail  {
	margin-left: 2em;
	margin-right: 2em;
	margin-bottom: 2em;
	margin-top: 2em;
}


#footer {
	background-color:black;
	color:#aaaaaa;
	padding-top: 1em;
	padding-bottom: 1em;


}

#footer a {
	color:#aaaaaa;
}

#footer a:hover {
	color:#dddddd;
}

#wrapper {
	
	height:550px;
	background-size: cover;
	text-align: center;
	padding-top: 80px;
	color:black;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#wrapper h1 {
		font-size: 78px;

}

.row h3 {
		color:white;

}

.row h7 {
		color:white;
		height:1em;
		font-size: 30px;
}

.row h8 {
		height:1em;
		font-size: 30px;
		
}

#messageinfo {
	font-size: 10px;

}




#Newsletter h2 {
	padding-bottom: 90px;

}



#wrapper h2 {
	font-size: 14px;
	margin-bottom: 5em; 
}



.spacer {
	height:8em;
}

.spacer1 {
	height:4em;
}

.spacer2 {
	height:2em;
}

.spacer3 {
	height:0.5em;
}

#picture {
	border-radius:50%;

}




.row h6 {
	height:1em;
	font-size: 30px;
}

.row h10 {
	
	font-size: 30px;
}

.bande {
	padding-left: 20px;

}

.bande1 {
	padding-left: 60px;

}





.spacer-bande {
	margin-bottom: 2em;

}

.spacer-bande1 {
	margin-top:2em;

}



.navbar-brand img {
	
	
}

.feature p {
	font-weight: 300;
	letter-spacing:1px;
}


.feature img {
	margin-bottom: 2em;
}


.navbar-transparent {
  background-color: rgba(0, 0, 0, 0.2);
}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
  color: #eeeeee;
  line-height: 28px;
}

.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus {
  color: white;
}

#mc_embed_signup {
	margin-bottom: 11em
}


/* CSS */
.dropdown:hover > #cart-dropdown{
  display: block;
}













